/* General */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
h1 {
  font-size: 1.5rem;
}
h4 {
  font-size: 0.9rem;
  text-transform: uppercase;
  color: #aaaaaa;
  margin-left: 20px;
}
i {
  font-size: 1.5rem;
  color: #ffffff;
}
p,
a {
  font-size: 0.9rem;
}
hr {
  border: 1px solid rgba(255, 255, 255, 0.3);
  margin: 12px 0;
}
/* End General */

/* Scrollbar  */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: none;
}
::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #888888;
}
/* End Scrollbar */

/* Header */
.jh-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #202020;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 25px;
  padding-right: 40px;
}
.jh-logo-img {
  position: relative;
  height: 50px;
  width: 50px;
}
img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#jh-logo-text {
  letter-spacing: -1.5px;
  color: #ffffff;
}
.jh-logo {
  display: flex;
  align-items: center;
}
.jh-logo-container {
  display: flex;
  align-items: center;
}
.jh-search-container {
  display: flex;
  align-items: center;
  flex: 0 1 685px;
  margin-left: 40px;
}
.jh-search-container form {
  position: relative;
  width: 100%;
}
.jh-search-container input {
  display: flex;
  height: 40px;
  align-items: center;
  width: 100%;
  background-color: #121212;
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 12px;
  color: #ffffff;
  font-size: 1rem;
}
.jh-search {
  min-width: 60px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 20;
  background-color: #313131;
  outline: none;
  border: none;
}
.jh-mic {
  min-width: 40px;
  height: 40px;
  border-radius: 50%;
  outline: none;
  border: none;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #181818;
}
.jh-profile-container {
  display: flex;
  align-items: center;
}
.jh-profile-container i {
  margin-left: 25px;
}
.jh-profile-box {
  position: relative;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: 25px;
}
/* End Header */

/* Body Container */
.jh-body-container {
  display: flex;
  position: fixed;
  height: calc(100vh - 60px);
  top: 60px;
}
/* End Body Container */

/* Sidebar */
.jh-sidebar {
  background-color: #121212;
  padding-top: 10px;
  width: 250px;
  overflow-y: scroll;
}
.jh-sidebar:hover::-webkit-scrollbar-thumb {
  background: #717171;
}
.jh-sidebar a {
  color: #ffffff;
  text-decoration: none;
}
.jh-sidebar-items {
  display: flex;
  flex-direction: column;
}
.jh-sidebar-item {
  display: flex;
  align-items: center;
  padding: 0 24px;
  cursor: pointer;
  height: 40px;
  font-size: 18px;
}
.jh-sidebar-item:hover {
  background-color: #4c4c4c;
}
.jh-sidebar-item i {
  margin-right: 15px;
}
/* End Sidebar */

/* jh-content */
.jh-content {
  width: calc(100vw - 250px);
}
.jh-chips-wrapper {
  overflow-x: scroll;
  background-color: #181818;
  display: flex;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.jh-chips-wrapper::-webkit-scrollbar {
  height: 0;
}
.jh-chips-wrapper:hover::-webkit-scrollbar {
  height: 9px;
}
.jh-chips-wrapper:hover::-webkit-scrollbar-thumb {
  background: #717171;
}
.jh-chip {
  margin: 12px 6px;
  padding: 6px 12px;
  background-color: #373737;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;
  white-space: nowrap;
  cursor: pointer;
  color: #ffffff;
  transition: 0.5s;
}
.jh-chip:hover {
  background-color: #4d4d4d;
}
/* End jh-content */

/* jh-video-container */
.jh-video-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 18px;
  padding: 20px 25px;
  background-color: #181818;
  overflow-y: scroll;
  height: calc(100vh - 116px);
}
.jh-video-container:hover::-webkit-scrollbar-thumb {
  background: #717171;
}
.jh-video-content-cover {
  position: relative;
  transition: 0.2s;
  transition-delay: 0.2s;
}
.jh-video-content-cover:hover {
  transform: translateY(60px);
  z-index: 999;
}
.jh-video-content-cover:nth-child(4n + 1):hover {
  transform: translate(50px, 60px);
  z-index: 999;
}
.jh-video-content-cover:nth-child(4n + 4):hover {
  transform: translate(-30px, 60px);
  z-index: 999;
}
.jh-video-content {
  position: relative;
  margin-bottom: 25px;
  transition: 0.5s;
  width: 100%;
}
.jh-video-content:hover {
  transform: scale(1.5);
  z-index: 5;
  position: absolute;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
  background-color: #202020;
}
.jh-video-content:hover .jh-video-details {
  background-color: #202020;
  padding: 10px;
}
.jh-video-box {
  position: relative;
  width: auto;
  height: 145px;
  display: block;
}
.jh-video-details {
  display: flex;
  color: #ffffff;
  padding-top: 12px;
}
.jh-channel-logo {
  position: relative;
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  overflow: hidden;
}
.jh-video-content:hover .jh-channel-logo {
  min-width: 25px;
  height: 25px;
}
.jh-detail {
  margin-left: 12px;
}
.jh-title {
  font-size: 1rem;
}
.jh-video-content:hover .jh-title {
  font-size: 0.9rem;
}
.jh-channel-name {
  font-size: 0.8rem;
  margin-top: 10px;
  color: #aaaaaa;
}
.jh-views-upload {
  display: flex;
  font-size: 0.8rem;
  color: #aaaaaa;
}
.jh-video-content:hover .jh-views-upload {
  font-size: 0.6rem;
}
.jh-upload {
  margin-left: 5px;
}
.jh-hidden-content {
  display: none;
  padding: 5px 10px;
}
.jh-video-content:hover .jh-hidden-content {
  display: block;
}
.jh-btn {
  padding: 3px 0;
  margin: 5px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #aaaaaa;
  text-transform: uppercase;
  width: 100%;
  background-color: #373737;
  text-align: center;
}
.jh-btn i {
  font-size: 0.8rem;
  margin-right: 5px;
  color: #aaaaaa;
}
/* End jh-video-container */

/* Responsive */
@media (max-width: 1200px) {
  .jh-sidebar {
    width: 70px;
    overflow-x: hidden;
  }
  .jh-more {
    display: none;
  }
  .jh-content {
    width: calc(100vw - 70px);
  }
}
@media (max-width: 1050px) {
  .jh-video-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 820px) {
  .jh-video-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 600px) {
  .jh-video-container {
    grid-template-columns: 1fr;
  }
  .jh-search-container,
  .fa-grip {
    display: none;
  }
  .jh-video-container {
    grid-gap: 10px;
    padding: 10px;
  }
  .jh-header {
    padding-right: 15px;
  }
}
/* End Responsive */
